<div>
  <form>
    <label for="title">Title</label>
    {{input value=title id="title"}}
    <label for="description">Description</label>
    {{input value=description id="description"}}
    <label for="cost">Price</label>
    {{input type=number value=cost id="cost"}}

    <button class="btn btn-success" {{action 'updateProduct' product}}>Update</button>
  </form>
</div>
