.cart-div {
  background-color: grey;
  padding: 20px;
  width: 250px;
  border-radius: 10px;
}
.hero{
  background: url() no-repeat;
  background-size:cover;
  background-attachment: fixed;
  height: 650px;
  width: 100%;
}
