<h1>Admin page</h1>
<div class="container">
  {{#each model.products as |product|}}
    <ul>
      {{admin-product-tile product=product}}
      {{update-product product=product updateProduct="updateProduct"}}
      <button class="btn btn-danger" {{action 'deleteProduct' product}}>Delete</button>
    </ul>
  {{/each}}

  {{add-product saveNewProduct="saveNewProduct"}}
</div>
