<header>
  <h1>E-Commerce</h1>
</header>

{{outlet}}

<footer>
  <nav class="navbar navbar-inverse navbar-fixed-bottom">
    <p>{{#link-to 'index'}}Home{{/link-to}} {{#link-to 'admin'}}Admin{{/link-to}}</p>
  </nav>
</footer>
